<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Registration</h2>
    <form action="{% url 'reg' %}" method ='POST'>
    {% csrf_token %}
    <label for="">firstname:</label>
    <input type="text" name="firstname" id=""><br>
    <label for="">lastname:</label>
    <input type="text" name="lastname" id=""><br>
    <label for="">email:</label>
    <input type="text" name="email" id=""><br>
    <label for="">username:</label>
    <input type="text" name="username" id=""><br>
    <label for="">password:</label>
    <input type="text" name="password" id=""><br>
    <button type="submit">Submit</button>
    </form>
    <a href="{% url 'ind' %}">Back to Home</a>
</body>
</html>